bleach
django
coverage
mock
flake8
flake8-broken-line
flake8-bugbear
flake8-builtins
flake8-commas
flake8-comprehensions
flake8-eradicate
flake8-quotes
flake8-tidy-imports
pep8-naming
pip-tools
sphinx
sphinx-rtd-theme
